/* Color */

$white: #FFFFFF;
$black: #000000;
$grey: #7a7a7a;
$red: #ed1c24;
$purple: #7330CE;
$purple-back: #3F2A52;
$purple-link: #D929F5;


/* Font-family */

$main-font: 'Montserrat-Regular', sans-serif;
$title-font: 'Montserrat-ExtraBold', sans-serif;
